* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 1440px;
}

html {
    scroll-behavior: smooth;
    margin: auto;
}

body {
    margin: auto;
}

/* Header */

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.bookilogo img {
    width: 120px;
    transition: transform 0.2s;
}

.bookilogo img:hover {
    transform: rotateY(35deg);
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

nav li {
    list-style: none;
    margin-left: 70px;
    padding-top: 70px;
    display: inline-block;
    position: relative;
}

nav a {
    text-decoration: none;
}

nav a:link {
    color: black;
}

nav a:hover {
    color: #0065FC;
}


nav a:visited {
    color: black;
}


nav a::before {
    content: '';
    display: block;
    height: 2px;
    background-color: #0065FC;

    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 250ms;
}


nav a:hover::before {
    width: 100%;
}

/* Recherche */

.search {
    display: block;
    margin-left: 110px;
    padding-bottom: 8px;
}

.search h2 {
    padding-bottom: 8px;
}

.search-englobe {
    display: flex;
    align-items: center;
    margin-left: 70px;
    padding: 20px;
}

.search-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F2F2F2;
    margin-top: 10px;
    margin-left: 20px;
    padding: 1px;
    border-radius: 16px;
}


form {
    display: flex;
    align-items: center;
}

.search-ping {
    padding-left: 20px;
    padding-right: 20px;
}

.search-button {
    color: white;
    background-color: #0065FC;
    width: 99px;
    height: 41px;
    font-weight: 300;
    font-size: small;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
    border-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
}

::placeholder {
    color: black;
    font-weight: 600;
    padding-left: 10px;
}

form input {
    border-style: none;
    padding-top: 12px;
    padding-bottom: 12px;
}

.loupe {
    display: none;
    background-color: #0065FC;
    color: white;
    border-style: none;
    width: 60px;
    height: 41px;
    justify-content: center;
    align-items: center;
    border-radius: 14px;
}

/*Filtres*/


.filtres-wrapping {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin-top: 40px;
    padding-left: 110px;
    margin-right: 40px;
    white-space: nowrap;
}

.liste {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    border-radius: 15px;
}

.filtres-wrapping li {
    list-style: none;
    margin-left: 50px;
    display: inline-block;

}

.LI1 {
    display: flex;
    border-style: groove;
    border-radius: 25px;
    margin-right: 50px;
    margin-left: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
}

.LI1:hover {
    background-color: #DEEBFF;
}

.LI1 a {
    display: inline-block;
    text-decoration: none;
    padding: 0 20px 0 20px;
}

.LI1 a {
    display: inline-block;
    text-decoration: none;
    padding: 0 20px 0 20px;
    font-weight: 900;
    color: black;
    transition: color ease-in-out .2s;
}

.LI1 a:hover {
    color: #0065FC;
}

.LI1 i {
    display: flex;
    color: #0065fc;
    background-color: #DEEBFF;
    padding: 15px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}


.LI2 {
    display: flex;
    border-style: groove;
    border-radius: 25px;
    margin-right: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
}

.LI2:hover {
    background-color: #DEEBFF;
}


.LI2 a {
    display: inline-block;
    text-decoration: none;
    padding: 0 20px 0 20px;
    margin-block-start: 1px;
    margin-block-end: 1px;
    font-weight: 700;
    color: black;
    transition: color ease-in-out .2s;
}

.LI2 a:hover {
    color: #0065FC;
}


.LI2 i {
    display: flex;
    color: #0065fc;
    background-color: #DEEBFF;
    padding: 15px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}

/* Info ville & Heb/populaire */

.city-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 110px;
}

.city-info i {
    display: flex;
    color: #0065FC;
    border-style: groove;
    border-radius: 100px;
    padding-left: 6px;
    width: 25px;
    height: 25px;
    margin-right: 10px;

}

/* Heb */

.accomodation-popular {
    display: flex;
}

.main-accomodation {
    display: block;
    background-color: #F2F2F2;
    width: 70%;
    border-radius: 20px;
    padding-bottom: 5px;
    margin-left: 110px;
    margin-right: 60px;
}

.main-container {
    width: 100%;
    margin: auto;
}

.title-article {
    margin: 40px 0 25px 0;
    padding-left: 85px;
}

.accomodation-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    max-width: 750px;
    padding-left: 50px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    width: 200px;
    height: 100%;
    padding: 5px;
    cursor: pointer;
    background-color: white;
    border-radius: 10%;
    margin: 20px 5px 20px 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12),
        0 2px 2px rgba(0, 0, 0, 0.12),
        0 4px 4px rgba(0, 0, 0, 0.12),
        0 8px 8px rgba(0, 0, 0, 0.12),
        0 16px 16px rgba(0, 0, 0, 0.12);
    transition: transform 0.2s;
}

.cards:hover {
    transform: scale(1.2);
}

.cards img {
    height: 110px;
    width: 110%;
    object-fit: cover;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.cards h4 {
    padding-top: 5px;
    font-size: small;
    padding: 0 20px 10px 20px;
}

.cards p {
    font-size: small;
    padding: 0 20px 10px 20px;

}

.icone-heb {
    display: flex;
    flex-direction: row;
    color: #0065FC;
    margin-top: 5px;
    font-size: 0.8em;
    margin-left: 2px;
    padding-left: 20px;
}

.plus {
    cursor: pointer;
    font-size: medium;
    padding-left: 85px;
    padding-top: 10px;
    padding-bottom: 15px;
}


.grey-heb {
    color: rgb(233, 229, 229);
}

/* populaire */

.popular-accomodation {
    background-color: #F2F2F2;
    max-height: 600px;
    width: 30%;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 20px;
    margin-right: 100px;
    border-radius: 5%;
}

.popular-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding-left: 40px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.cards-popular {
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 10%;
    width: 270px;
    padding: 5px;
    height: auto;
    cursor: pointer;
    margin: 30px 0px 0px 35px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12),
        0 2px 2px rgba(0, 0, 0, 0.12),
        0 4px 4px rgba(0, 0, 0, 0.12),
        0 8px 8px rgba(0, 0, 0, 0.12),
        0 16px 16px rgba(0, 0, 0, 0.12);
    transition: transform 0.2s;
}

.cards-popular:hover {
    transform: scale(1.2);
}

.popular-header i {
    padding-top: 8px;
    padding-right: 12px;
}

.cards-popular img {
    width: 120px;
    height: 110px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-right: 20px;
}

.element-pop {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cards-popular h4 {
    font-size: small;
    padding-bottom: 10px;
    padding-top: 5px;
}

.cards-popular p {
    font-size: small;
    padding-bottom: 40px;
}

.icone-popular {
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    color: #0065FC;
}

.grey-pop {
    color: rgb(233, 229, 229);
}

/* Activities */

.activities-wrapper {
    margin-top: 50px;
    height: 500px;
    margin-left: 110px;
    margin-right: 100px;
}

.act-title {
    display: block;
    padding-bottom: 25px;
}

.Activities {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    height: 85%;
    padding-bottom: 32px;
}

.img-act1 {
    height: 100%;
    width: 22%;
    background-color: white;
    border-radius: 5%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12),
        0 2px 2px rgba(0, 0, 0, 0.12),
        0 4px 4px rgba(0, 0, 0, 0.12),
        0 8px 8px rgba(0, 0, 0, 0.12),
        0 16px 16px rgba(0, 0, 0, 0.12);
    transition: transform 0.2s;
    order: 0;
}

.img-act1:hover {
    transform: scale(1.2);
}

.img-act7 {
    height: 100%;
    width: 22%;
    background-color: white;
    border-radius: 5%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12),
        0 2px 2px rgba(0, 0, 0, 0.12),
        0 4px 4px rgba(0, 0, 0, 0.12),
        0 8px 8px rgba(0, 0, 0, 0.12),
        0 16px 16px rgba(0, 0, 0, 0.12);
    transition: transform 0.2s;
    order: 2;
}

.img-act7:hover {
    transform: scale(1.2);
}

.Activities article {
    display: flex;
    flex-direction: column;
    border-radius: 10%;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
}


.Activities img {
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    height: 90%;
    object-fit: cover;
}

.Activities h4 {
    font-size: 15px;
    font-weight: 700;
    margin-top: 15px;
    margin-left: 15px;
    padding-bottom: 15px;
}

.wrapper2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50%;
    width: 22%;
    order: 2;
}

.img-act2 {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding-bottom: 30px;
    object-fit: cover;
    box-sizing: border-box;
    background-color: white;
    border-radius: 5%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12),
        0 2px 2px rgba(0, 0, 0, 0.12),
        0 4px 4px rgba(0, 0, 0, 0.12),
        0 8px 8px rgba(0, 0, 0, 0.12),
        0 16px 16px rgba(0, 0, 0, 0.12);
    transition: transform 0.2s;
}

.img-act2:hover {
    transform: scale(1.2);
}

.wrapper3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50%;
    width: 22%;
    order: 3;
}

.img-act3 {
    margin-top: 45px;
    width: 100%;
    height: 78%;
    border-radius: 10px;
    object-fit: cover;
    background-color: white;
    padding-bottom: 35px;
    border-radius: 10px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12),
        0 2px 2px rgba(0, 0, 0, 0.12),
        0 4px 4px rgba(0, 0, 0, 0.12),
        0 8px 8px rgba(0, 0, 0, 0.12),
        0 16px 16px rgba(0, 0, 0, 0.12);
    transition: transform 0.2s;
}

.img-act3:hover {
    transform: scale(1.2);
}

.img-act5 {
    width: 100%;
    height: 80%;
    border-radius: 10px;
    object-fit: cover;
    background-color: white;
    padding-bottom: 35px;
    border-radius: 5%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12),
        0 2px 2px rgba(0, 0, 0, 0.12),
        0 4px 4px rgba(0, 0, 0, 0.12),
        0 8px 8px rgba(0, 0, 0, 0.12),
        0 16px 16px rgba(0, 0, 0, 0.12);
    transition: transform 0.2s;
}

.img-act5:hover {
    transform: scale(1.2);
}


.img-act6 {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    margin-top: 40px;
    padding-bottom: 30px;
    object-fit: cover;
    box-sizing: border-box;
    background-color: white;
    border-radius: 5%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12),
        0 2px 2px rgba(0, 0, 0, 0.12),
        0 4px 4px rgba(0, 0, 0, 0.12),
        0 8px 8px rgba(0, 0, 0, 0.12),
        0 16px 16px rgba(0, 0, 0, 0.12);
    transition: transform 0.2s;
}

.img-act6:hover {
    transform: scale(1.2);
}

/* footer */

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #F2F2F2;
    padding-bottom: 50px;
    margin-top: 30px;

}

.footer-1 {
    padding-top: 12px;
    padding-left: 50px;
}

.footer-3 {
    padding-right: 90px;
}

footer h2 {
    padding-left: 20px;
    font-size: 18px;
    font-weight: 700;
    padding: 15px 20px 15px 40px;
}

footer a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    font-size: 15px;
    padding-left: 40px;
    padding-bottom: 5px;
    transition: color ease-in-out .2s;
    color: black;
}

footer a:hover {
    color: #0065FC;
}


/* Media queries */

/* Tablette */

@media all and (max-width: 1440px) {

    .main {
        width: 100%;
    }

    .body {
        display: block;
    }

    /* navbar */

    .navbar {
        flex-direction: column;
    }

    .bookilogo {
        padding-left: 15%;
    }

    /* barre de recherche */ 

    .search {
        justify-content: center;

    }

    /* rechercher */

    .filtres-wrapping {
        display: block;
        align-items: center;
        justify-content: center;
        padding-left: 10%;
        margin-top: auto;
    }

    .filtres-wrapping h3 {
        align-items: center;
        justify-content: center;
        margin-left: 100%;
        margin-right: 100%;
        margin-bottom: 2%;
    }

    .loupe {
        display: flex;
    }

    .search-button {
        display: none;
    }


    /* Hebergement */

    .main-accomodation {
        background-color: white;
        width: 50%;
        margin: auto;
    }


    .accomodation-container {
        display: flex;
        align-items: center;
        flex-direction: row;
        width: 768px;
        padding-left: 0;
    }

    .cards {
        width: 250px;
        margin: 30px 40px 30px 30px;
    }

    /* populaire */

    .accomodation-popular {
        flex-direction: column-reverse;
    }

    .popular-accomodation {
        width: 100%;
        margin-bottom: 2%;
        border-radius: 0%;
        margin-right: 0%;
    }

    .popular-header {
        padding-left: 0;
        padding-top: 0;
        padding-right: 0;
        padding-bottom: 1%;
    }

    .popular-header i {
        padding-top: 0;
        padding-right: 0;
    }

    .cards-popular {
        display: flex;
        margin: auto;
        margin-bottom: 2%;
        width: 30%;
    }


    /* Activities */


    .Activities {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }

    .img-act1, .img-act7 {
        order: -1;
        width: 35%;
        height: 40%;
        flex-direction: row;
    }

    .wrapper2 {
        order: 1;
        width: 35%;
        height: 40%;
    }

    .wrapper3 {
        width: 35%;
        height: 40%;
    }

    /* footer */

    .footer-container {
        margin-top: 15%;
    }


    /* Mobile */

@media all and (max-width:768px) {

    .main {
        width: 100%;
    }

    .body {
        width: 377px;
        display: block;
    }

    /* navbar */

    .navbar {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .bookilogo {
        padding-left: 0;
    }

    /* filtres */

    .liste {
        display: block;
        flex-direction: column;
    }

    .filtres-wrapping {
        flex-direction: column;
        margin-top: 10px;
    }

    .filtres-wrapping h3 {
        margin-bottom: 10px;
        align-items: center;
        text-align: center;
    }


    /* Hebergement */

    .main-accomodation {
        width: 100%;
        margin: auto;
    }

    .accomodation-container {
        display: block;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .cards {
        width: 90%;
    }

    /* populaire */

    .accomodation-popular {
        flex-direction: column-reverse;
        margin: auto;
    }

    .popular-accomodation {
        width: 100%;
        margin-bottom: 2%;
        border-radius: 0%;
        display: block;
        flex-direction: column;
        width: 100%;
    }

    .cards-popular {
        width: 90%;
    }


    /* Activities */

    .Activities {
        flex-direction: column;
    }


    /* Footer */

    footer {
        display: block;
    }

    .footer-container {
        flex-direction: column;
        width: 100%;
    }

}




/* pour le fun 

@keyframes transition {
    0% {margin-left: -70px;opacity: 0;}
    100% { margin-left: 0;opacity: 1;}
}

div {opacity: 0;animation: transition 1s ease-in-out 1s forwards;}
 
*/
}


